<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post {{user.first_name}}</title>
</head>
<body>
    <form action="/users/{{user.id}}/posts/new" method='POST'>
        <input type="text" name='post_title' placeholder="Title">
        <input type="text" name='post_content' placeholder="content">
        {% if tags != [] %}
            {% for tag in tags %}
                <div>
                   <input type="checkbox" 
                   name = 'tags' 
                   value = "{{tag.id}}" 
                   id = "tag_{{tag.id}}"" >
                   <label for="tag_{{tag.id}}">{{tag.name}}</label>
                    <br>
                </div>
            {% endfor %}
        {% endif %}
        <button>Add</button>
    </form>
    
</body>
</html>